# **Implement a Greedy Algorithm**
MSDS 432 Module 8

Nameyeh Alam

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import random
import string
import warnings
warnings.filterwarnings("ignore", category=Warning)
import time

#### 1. Scenario
Assume you run a small security company that provides physical security services in the area and you recently won a new contract in the area to provide 24x7 security to a small building under construction.  For simplicity we will design the solution for only 24 hours, but if you want to go above and beyond, feel free to write code that handles the 24x7 scenario as well.

#### 2. Security Guard Availability (n=6)
You have 6 security guards available at the moment who you can assign to this building but your goal is to make more money out of this contract and spend less in wages (hence greedy!)

In [2]:
guards_list = ['guard1', 'guard2', 'guard3', 'guard4', 'guard5', 'guard6']

#### 3. The cost/wage structure is as follows:
- People working less than or equal to 8 hours will be paid \\$15/hr 
- Anyone working overtime (>8 hours) will be paid an additional \\$5, i.e. \\$20/hr

In [3]:
hourly_pay = 15 
overtime_pay = 15 + 5 
hrs_to_schedule = 24
hrs_b4_overtime = 8

#### 4. Create a greedy algorithm
Create a greedy algorithm (come up with any algorithm of your own) that finds you the most cost effective solution e.g. Should we appoint 2 security guards for 12 hours each? Or 3 of them for 8 hours each? Or 4 for 6 hours each? Or all 6 for 4 hours each? Or any other combination?

In [4]:
# create empty array to hold guard hours, 
# populate with zeros for each guard
guard_hrs_list = []
for guard in guards_list: 
    hours = 0 
    guard_hrs_list.append(hours)
guard_hrs_list

[0, 0, 0, 0, 0, 0]

In [5]:
# def function to calc total cost of shift 
def shift_cost(hrs_list):
    shift_cost = 0
    for hr in hrs_list:
        if hr <= hrs_b4_overtime:
            hrly_pay = hr*hourly_pay
        else:
            hrly_pay = (hourly_pay*8) + (overtime_pay*(hr-8))
        shift_cost += hrly_pay
    return shift_cost  
# test function with zeros list
shift_cost(guard_hrs_list)

0

For our greedy approach, we want to minimize the number of overtime hours, which means minimizing the number of hours per guard. So we will try to assign hours to guards equally, by iterating through the guard_hrs_list and adding one hour to each guard until the total hours in the array = 24.

In [6]:
i = 0
while sum(guard_hrs_list) != hrs_to_schedule:
    guard_hrs_list[i] += 1
    i = (i + 1) % len(guard_hrs_list)
print(guard_hrs_list)
greedy_solution = shift_cost(guard_hrs_list)
print(greedy_solution)

[4, 4, 4, 4, 4, 4]
360

check solution by generating combinations of guard schedules, limiting each guard to 8 hrs, compare minimum of combo_costs to our solution

In [7]:
import itertools
numbers=np.arange(1,9)
combos = [seq for i in range(7, 0, -1) for seq in itertools.combinations_with_replacement(numbers, i) if sum(seq) == 24 and len(seq)<=6]
shift_combos = [list(x) for x in combos]
shift_combos[0:5]
combo_costs_list = []
shift_combo = []
len_shift_combo = []
for shift in shift_combos: 
    shift_combo.append(shift)
    len_shift_combo.append(len(shift))
    combo_costs = shift_cost(shift)
    combo_costs_list.append(combo_costs)

In [8]:
if (np.min(combo_costs_list)) == greedy_solution:
    print("greedy solution is equal to optimal solution from minimum of combo_costs!")
    print(("greedy solution: $")+str(greedy_solution))
    print(("optimal solution from list of combos: $")+str((np.min(combo_costs_list))))
else: 
    print("greedy solution is NOT equal to optimal solution from minimum of combo_costs")

greedy solution is equal to optimal solution from minimum of combo_costs!
greedy solution: $360
optimal solution from list of combos: $360

In [9]:
zipped_data = list(zip(shift_combo,len_shift_combo, combo_costs_list))
pd.DataFrame(zipped_data, columns=['shift_combo','number of guards','total_shift_cost'])

            shift_combo  number of guards  total_shift_cost
0    [1, 1, 1, 5, 8, 8]                 6               360
1    [1, 1, 1, 6, 7, 8]                 6               360
2    [1, 1, 1, 7, 7, 7]                 6               360
3    [1, 1, 2, 4, 8, 8]                 6               360
4    [1, 1, 2, 5, 7, 8]                 6               360
5    [1, 1, 2, 6, 6, 8]                 6               360
6    [1, 1, 2, 6, 7, 7]                 6               360
7    [1, 1, 3, 3, 8, 8]                 6               360
8    [1, 1, 3, 4, 7, 8]                 6               360
9    [1, 1, 3, 5, 6, 8]                 6               360
10   [1, 1, 3, 5, 7, 7]                 6               360
11   [1, 1, 3, 6, 6, 7]                 6               360
12   [1, 1, 4, 4, 6, 8]                 6               360
13   [1, 1, 4, 4, 7, 7]                 6               360
14   [1, 1, 4, 5, 5, 8]                 6               360
15   [1, 1, 4, 5, 6, 7]                 6               360
16   [1, 1, 4, 6, 6, 6]                 6               360
17   [1, 1, 5, 5, 5, 7]                 6               360
18   [1, 1, 5, 5, 6, 6]                 6               360
19   [1, 2, 2, 3, 8, 8]                 6               360
20   [1, 2, 2, 4, 7, 8]                 6               360
21   [1, 2, 2, 5, 6, 8]                 6               360
22   [1, 2, 2, 5, 7, 7]                 6               360
23   [1, 2, 2, 6, 6, 7]                 6               360
24   [1, 2, 3, 3, 7, 8]                 6               360
25   [1, 2, 3, 4, 6, 8]                 6               360
26   [1, 2, 3, 4, 7, 7]                 6               360
27   [1, 2, 3, 5, 5, 8]                 6               360
28   [1, 2, 3, 5, 6, 7]                 6               360
29   [1, 2, 3, 6, 6, 6]                 6               360
..                  ...               ...               ...
121     [3, 3, 4, 6, 8]                 5               360
122     [3, 3, 4, 7, 7]                 5               360
123     [3, 3, 5, 5, 8]                 5               360
124     [3, 3, 5, 6, 7]                 5               360
125     [3, 3, 6, 6, 6]                 5               360
126     [3, 4, 4, 5, 8]                 5               360
127     [3, 4, 4, 6, 7]                 5               360
128     [3, 4, 5, 5, 7]                 5               360
129     [3, 4, 5, 6, 6]                 5               360
130     [3, 5, 5, 5, 6]                 5               360
131     [4, 4, 4, 4, 8]                 5               360
132     [4, 4, 4, 5, 7]                 5               360
133     [4, 4, 4, 6, 6]                 5               360
134     [4, 4, 5, 5, 6]                 5               360
135     [4, 5, 5, 5, 5]                 5               360
136        [1, 7, 8, 8]                 4               360
137        [2, 6, 8, 8]                 4               360
138        [2, 7, 7, 8]                 4               360
139        [3, 5, 8, 8]                 4               360
140        [3, 6, 7, 8]                 4               360
141        [3, 7, 7, 7]                 4               360
142        [4, 4, 8, 8]                 4               360
143        [4, 5, 7, 8]                 4               360
144        [4, 6, 6, 8]                 4               360
145        [4, 6, 7, 7]                 4               360
146        [5, 5, 6, 8]                 4               360
147        [5, 5, 7, 7]                 4               360
148        [5, 6, 6, 7]                 4               360
149        [6, 6, 6, 6]                 4               360
150           [8, 8, 8]                 3               360

[151 rows x 3 columns]

In [10]:
df=pd.DataFrame(list(zip(guards_list,guard_hrs_list)),columns=['guard','hours'])
df['pay_rate'] = hourly_pay
df['total_pay_per_guard'] = df['hours']*df['pay_rate']
df.loc['Totals For Shift: ']= ["",df['hours'].sum(),"",str("$"+str(df['total_pay_per_guard'].sum()))]
df

                     guard  hours pay_rate total_pay_per_guard
0                   guard1      4       15                  60
1                   guard2      4       15                  60
2                   guard3      4       15                  60
3                   guard4      4       15                  60
4                   guard5      4       15                  60
5                   guard6      4       15                  60
Totals For Shift:              24                         $360

As seen in the dataframe of different combinations of shifts above, our solution of $360 and 4 hours for each guard is ONE optimal solution.

## Executive Summary
---

#### Explain your algorithm in detail.  How is it greedy?
The algorithm implemented to find the solution is "greedy" in the sense that we wanted to minimize the number of overtime hours, so that we could accomplish our goal of making more money and spending less in guard salaries. We knew we had six guards available, so we minimized overtime in the simplest way by assigning hours to all guards, minimizing the number of hours per guard. We assigned hours to guards in increments of one hour until we had assigned a total of 24 hours. Choosing one-hour increments was a way to locally-optimize and ensure that each guard worked the minimum number of hours possible. 

#### What is the complexity of your solution?
There is minimal complexity associated with this solution, since we decided to take the simplest approach and incrementally assign hours to all six guards. To add more complexity, we could specify a maximum hour limit per guard per shift, or add other constraints and expand the algorithm to schedule for the entire week instead of just 24 hours. 

#### Did the greedy algorithm provide the best solution or could there be an alternative/better solution to your problem?  Why or why not?
The greedy algorithm successfully provided a single optimal solution, but we also reviewed other alternative solutions to the problem. The alternative solutions had the same minimum cost as our optimal solution, but there are many different combinations to schedule the six guards instead of the equal hours we assigned. For example, if we wanted to limit the solution to the least number of guards, then our solution would no longer be a "best" solution and we'd have to rewrite the algorithm with this additional requirement. 

#### If the scenario had different values for the inputs would your algorithm still be successful?  Eg. more than 24 hours, higher overtime, shorter shifts, or values that don't factor so nicely.  Why or why not?  What things would change the optimal output?

This algorithm would not be successful if the input values changed. Increasing scheduling window to more than 24 hours would introduce additional problems that we didn't account for in the simple solution. We iterated through one array to schedule for 24 hours, which would need to be changed and nested into a loop to account for separate 24 hour increments. We'd have to add logic to account for maximum hours per shift, limiting to shorter shifts, and minimum time between shifts if we scheduled for the week. 

#### If you were not constrained to a greedy algorithm, what approaches would you take to solve the problem?  

If not constrained to a greedy algorithm, I think I would still choose a greedy approach, since I wouldn't want to waste time trying to find the "perfect" solution when our optimal/good solution works just fine.